@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-SemiBold.ttf);
}

.header-font {
  font-family: 'Inter';
  user-select: none;
}

.header-sm {
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px $dark, 0 0 2px $primary;
  font-size: 1.3rem !important;
}

.header-md {
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px $dark, 0 0 3px $primary;
  font-size: 1.75rem !important;
}

.logo-sm {
  user-select: none;
  filter: drop-shadow(0 0 1px $primary) drop-shadow(3px 3px 5px $dark);
}

.logo-md {
  user-select: none;
  filter: drop-shadow(0 0 1.5px $primary) drop-shadow(3px 3px 6px $dark);
}

.body--dark {
  color: #f5f5f5 !important;
}

.q-dark {
  color: #f5f5f5 !important;
}

.text-white {
  color: $dark !important;
}

.text-off-white {
  color: $off-white !important;
}

.body--light {
  color: rgba(0, 0, 0, 0.87) !important;
}

@media (max-width: 599.98px) {
  .q-layout-padding {
    padding: 25px 20px;
  }
}

@media (min-width: 1440px) {
  .q-layout-padding {
    padding: 60px 70px;
  }
}
