::-webkit-scrollbar-track-piece {
  background-color: $dark-page;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: $dark-page;
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s ease;
}
.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.98);
}

@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-Medium.ttf);
}

body {
  font-family: Inter;
}

.header-font {
  font-family: 'Cal Sans';
  user-select: none;
}

.header-sm {
  letter-spacing: 0.09em;
  text-shadow: 2px 2px 4px $dark, 0 0 2px $primary;
  font-size: 1.35rem !important;
}

.header-md {
  letter-spacing: 0.12em;
  text-shadow: 2px 2px 4px $dark, 0 0 3px $primary;
  font-size: 1.75rem !important;
}

.logo-sm {
  user-select: none;
  filter: drop-shadow(0 0 1px $primary) drop-shadow(1.5px 1.5px 2px $dark);
}

.logo-md {
  user-select: none;
  filter: drop-shadow(0 0 1.5px $primary) drop-shadow(3px 3px 6px $dark);
}

.body--dark {
  color: #f5f5f5 !important;
}

.q-dark {
  color: #f5f5f5 !important;
}

.text-white {
  color: $dark !important;
  background-color: rgba(32, 31, 31, 0.2);
}

.text-off-white {
  color: $off-white !important;
}

.body--light {
  color: rgba(0, 0, 0, 0.87) !important;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 599.98px) {
  .q-layout-padding {
    padding: 30px 25px;
  }
}

@media (min-width: 1440px) {
  .q-layout-padding {
    padding: 3.75rem 5.25rem;
  }
}

// colors
.text-dark-page {
  color: $dark-page !important;
}
.bg-dark-page {
  background: $dark-page !important;
}

.q-table__card--dark,
.q-table--dark,
.q-tab-panels,
.q-date {
  background-color: rgba(245, 164, 86, 0.05) !important;
}

.q-dialog__inner--minimized > div,
.q-popup-edit,
.q-menu,
.q-chip,
.q-card--dark,
.q-layout__section--marginal {
  background: rgba(0, 0, 0, 0.3) !important;
}

.q-dialog__inner--minimized > div,
.q-popup-edit,
.q-menu {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
