@font-face {
  font-family: Inter;
  src: url(./fonts/Inter-SemiBold.ttf);
}

.header-font {
  font-family: 'Inter';
  user-select: none;
}

.letter-spacing-sm {
  letter-spacing: 2px;
}

.letter-spacing-md {
  letter-spacing: 3px;
}

.logo {
  user-select: none;
}

.body--dark {
  color: #f5f5f5 !important;
}

.q-dark {
  color: #f5f5f5 !important;
}

.text-white {
  color: $dark !important;
}

.text-off-white {
  color: $off-white !important;
}

.body--light {
  color: rgba(0, 0, 0, 0.87) !important;
}
